body {
	background-image: url('../img/hospital.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: white;
	font-family: verdana;
}

.question {
	margin-top: 50px;
	margin-bottom: 10px;
}

#handleSubmission, #createSurvey {
	display: block;
	margin: 34px auto;
}

.response {
	margin-top: 10px;
}

#takeSurveyList li{
	list-style: none;
	color: white;
	text-align: center;
	font-size: 2em;
}

#takeSurveyForm {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

.radioLabel {
	color: white;
}

input[type="radio"] {
	margin-right: 10px;
}

.radioResponseWrap {
	margin-left: 20px;
	text-align: left;
}

.viewTakenSurveyWrapper {
	width: 300px;
	display: block;
	margin: 0 auto;
}
